# IDE files
/.idea/

# python files
/venv/
/.python-version

# Django files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# git files
/.DS_Store

# node files
node_modules/
package-lock.json
dist/
